<div class="menu__wrapper">
    <div class="menu">
        <div class="menu__second">
            <h1 class="menu__second-label">Меню</h1>
            <div class="menu__second-options">
                <button class="menu__second-button menu__second-button-language">
                    <img src="./img/flag-ukraine.svg" alt="">
                    <h3>УКР</h3>
                </button>
                <div class="menu__second-border menu__second-border__invisible"></div>
                <button class="menu__second-button menu__second-button-language">
                    <img src="./img/flag-united-states.svg" alt="">
                    <h3>EN</h3>
                </button>
                <div class="menu__second-border"></div>
                <button class="menu__second-button">
                    <img src="./img/volume_up_24px.svg" alt="">
                    <h3>Вимкнути звук</h3>
                </button>
                <div class="menu__second-border"></div>
                <button class="menu__second-button">
                    <img src="./img/eye.svg" alt="">
                    <h3>Людям із порушеннями зору</h3>
                </button>
            </div>
        </div>
        <div class="menu__main">
            <div class="menu__main-item">
                <ul class="menu__main-list menu__main-list_border_intermittent">
                    <li><a href="#"><h3>головна</h3></a></li>
                    <li><a href="#"><h3>Придбати квитки</h3></a></li>
                    <li><a href="#"><h3>події</h3></a></li>
                    <li><a href="#"><h3>Новини</h3></a></li>
                    <li><a href="#"><h3>3D тур</h3></a></li>
                    <li><a href="#"><h3>проєкти музею</h3></a></li>
                    <li><a href="#"><h3>Опитування</h3></a></li>
                </ul>
            </div>
            <div class="menu__main-item">
                <ul class="menu__main-list menu__main-list_border_solid">
                    <li><h3>музей</h3></li>
                    <li><a href="#"><p>Про музей</p></a></li>
                    <li><a href="#"><p>Фонди музею</p></a></li>
                    <li><a href="#"><p>Книга памʼяті</p></a></li>
                    <li><a href="#"><p>Дослідникам</p></a></li>
                    <li><a href="#"><p>Мапа музею</p></a></li>
                    <li><a href="#"><p>Допомога музею</p></a></li>
                    <li><a href="#"><p>Контакти</p></a></li>
                </ul>
                <ul class="menu__main-list menu__main-list_border_solid">
                    <li><h3>Додаткова інформація</h3></li>
                    <li><a href="#"><p>Доступність та інклюзивність</p></a></li>
                    <li><a href="#"><p>Політика щодо відвідувачів</p></a></li>
                    <li><a href="#"><p>Публічна інформація</p></a></li>
                    <li><a href="#"><p>Документи</p></a></li>
                </ul>
            </div>
            <div class="menu__main-item">
                <ul class="menu__main-list menu__main-list_border_solid">
                    <li><h3>Команда Музею</h3></li>
                    <li><a href="#"><p>Про команду</p></a></li>
                    <li><a href="#"><p>Вакансії</p></a></li>
                </ul>
                <ul class="menu__main-list menu__main-list_border_solid">
                    <li><h3>слідкуй за нами в соцмережах</h3></li>
                    <li><a href=""><div class="social"><img src="./img/Facebook.svg" alt=""><p>Facebook</p></div></a></li>
                    <li><a href=""><div class="social"><img src="./img/LinkedIn.svg" alt=""><p>LinkedIn</p></div></a></li>
                    <li><a href=""><div class="social"><img src="./img/Twitter.svg" alt=""><p>Twitter</p></div></a></li>
                    <li><a href=""><div class="social"><img src="./img/YouTube.svg" alt=""><p>YouTube</p></div></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>